[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "==2.7.5"
pytz = "==2018.5"
tox = "*"
Django = "==2.2.10"
uWSGI = "==2.0.17.1"

[dev-packages]

[requires]
python_version = "3.6"
